# Visual Studio specific files
.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
ipch/
.vscode/

# MonoGame specific files
*.mgcb
bin/
obj/
*.xnb

# Build directories
Build/
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.app
Content/obj
Content/bin

# NuGet packages
*.nupkg
*.nuget/packages/
packages/
.nuget/
project.lock.json
project.fragment.lock.json
