# Visual Studio specific files
.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
ipch/
.vscode/

# MonoGame specific files
*.mgcb
bin/
obj/
*.xnb
*/.mgstats
.mgstats

# Build directories
Build/
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.app
Content/obj/
Content/bin/

# NuGet packages
*.nupkg
.nuget/
.nuget/packages/
packages/
project.lock.json
project.fragment.lock.json

# Additional Fixes
# Ensure no specific package files are tracked accidentally
**/packages/
packages.config
Game/Content/obj/DesktopGL/net8.0/Content/.mgstats
